@{
    ViewBag.Title = "Home Page";
}

<div>
    
    <div class="card transition">
        <h2 class="transition">Connect with your clients</h2>
       
        <div class="cta-container transition cta">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
        <div class="cta-container2 transition cta">@Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
        <div class="card_circle transition"></div>
    </div>
</div>  
